.c-gra{
    background-color:#e1e1e1;
}
.b-gra{
    border-color:#d6d6d6;
}
.t-gra
{
    color:#a1a1a1;
}
.t-red{
    color:#d22f2f;
}
.addfont{
    font-weight:bold;
}
.uinnh1
{
    padding:0.5em 0.5em 0 0.5em;
    margin:0;
}

input[type = radio] + div > div.t-gra1 {
    color:#787878;
}
input[type = radio]:checked + div > div.t-gra1 {
    border-bottom:2px solid #1788D4;
    color:#1788D4;
    background-color:#F1F1F1;
}
.umhh1{
    min-height:2.6em;
}


.umwh{
    min-height:7.6em;
    min-width:7.25em;
}
.umar-h1{
    margin:1em .5em 0 .5em;
}
.uwh-tBtn{
    width: 1.75em;
    height: 1.75em;
}



.searchClass{
    width:3em;height:1.8em;
    font-size:1.0em;
    color:white;
    border-radius:10px;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#FF5400), to(#FFAF14)); 
}
.b-bg1{
    background: #EEEEEE;border-radius: 8px;
}
.ele-search{
    background-image:url('../../images/ele-seach.png');
}
.uwh-ele1{
    width:0.9em;
    height:0.9375em;
}
.uwh-abn{
	width:3.5625em;
	height:1.75em;
}
.appcanBtn{
	background-image:url('../../images/appcanBtn.png');
}
.umar-l-ele{
	margin-left:0.8em;
}
.t-btn-ds1{
	background-image:url('../../images/t-btn-ds1.png');
}
.t-btn-ds2{
	background-image:url('../../images/t-btn-ds2.png');
}
.ubb-pic{
	border-right:2px solid #fff;
}
.t-blu2{
	color:#0670b7;
}
.uinn-a15{
	padding:0.52em 0;
}

.ressearch{
	background-image:url('../../images/search.png');
}
.ressaomiao{
	background-image:url('../../images/saomiao.png');
}
.umwh{
	min-height:1em;
	min-width:1em;
}
.t-btn-ds1{
	background-image:url('../../images/t-btn-hf1.png');
}
.uinn-1{
	padding:0.15em 0.5em;
}
.uwh-tBtn{
    width: 1.75em;
    height: 1.75em;
}
input[type=radio]+div.rdi {
    color: #0670b7;
}

input[type=radio]:checked+div.rdi {
    color: #fff;
}
. c-wh{
    background: #fff;
}
.umar-aaa {
    margin: 0.3em;
}
.maxh{
    max-height: 2.75em;
}
